html,
body {
	margin: 0;
	padding: 0;
	position: relative;
}

body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga" on;
}

/* @font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather'), local('Merriweather-Regular'),
       url('../fonts/merriweather-v13-latin-regular.woff2') format('woff2'),
       url('../fonts/merriweather-v13-latin-regular.woff') format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'),
       url('../fonts/lato-v11-latin-regular.woff2') format('woff2'),
       url('../fonts/lato-v11-latin-regular.woff') format('woff');
} */

/* This should change the font and use google fonts, but it's not working!!! */
@import url('https://fonts.googleapis.com/css?family=Lato|Merriweather&display=swap');
.book.font-family-0 {
  font-family: "Merriweather", Georgia, serif;
}
.book.font-family-1 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* TOC width */
.book .book-summary{left:-400px; width:400px;}
@media (min-width: 600px) {.book.with-summary .book-header.fixed {left: 400px;}.book.with-summary .book-body{left:400px}}
@media (max-width: 600px) {.book.with-summary .book-header.fixed {min-width: 400px;}.book.with-summary .book-body {min-width: 400px;}}

/* Width of body text */
.book .book-body .page-wrapper .page-inner {
	max-width: 80%;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	color: #1d3a83;
}
h1.title {
	font-weight: 700;
}
.level1 h1 {
	border-bottom: 1px solid;
}
.header-section-number {
	padding-right: .2em;
	font-weight: 500;
}
.level1 .header-section-number {
	display: inline-block;
	border-bottom: 3px solid;
}
.smallcaps {
	font-variant: small-caps;
}
.book .book-body .page-wrapper .page-inner section.normal strong {
	font-weight: 600;
}

code {
	background-color: rgba(0, 0, 0, 0.02);
}

div {
	overflow: auto;
}

p.caption {
	color: #777;
	margin-top: 10px;
}
p.accessibility_instructions {
	color: #fff;
	font-size: 1px;
	padding: 0px;
}
p.flushright {
	text-align: right;
}

p code {
	white-space: inherit;
}
pre {
	word-break: normal;
	word-wrap: normal;
}
pre code {
	white-space: inherit;
}

blockquote > p:last-child {
	text-align: right;
}
blockquote > p:first-child {
	text-align: inherit;
}

a:link, a:visited {
	outline: none;
	color: #1d3a83;
}
a:hover, a:active {
	color: #005daa;
}

.book .book-body .page-wrapper .page-inner section.normal table {
	display: table;
	width: 100%;
	margin: 0px auto;
	border: none;
	padding: 2px 4px;
	font-style: normal;
    font-weight: 400;
	font-size: 0.75em;
	line-height: 1;
	text-align: left;
	overflow: auto;
}
.book .book-body .page-wrapper .page-inner section.normal table td, 
.book .book-body .page-wrapper .page-inner section.normal table th,
.book .book-body .page-wrapper .page-inner section.normal table tr {
	padding: 2px 4px;
	border: none;
}
.book .book-body .page-wrapper .page-inner section.normal table caption {
	text-align: left;
	font-size: 1.5em;
	margin: 8px 0;
	color: #1d3a83;
	font-weight: 600;
}
.book .book-body .page-wrapper .page-inner section.normal table thead tr th {
	font-weight: 600;
	padding: 3px 6px;
	border-bottom: 1px solid #1d3a83;
	color: #fff;
	background: #314875;
	text-align: center;
}
.book .book-body .page-wrapper .page-inner section.normal table tbody tr th {
	font-weight: 600;
	color: #1d3a83;
	min-width: 5em;	
	padding: 2px 4px;
}
.book .book-body .page-wrapper .page-inner section.normal table tbody tr td {
	font-weight: 400;
	text-align: right;
	padding: 2px 4px;
	min-width: 8%;
}
.book .book-body .page-wrapper .page-inner section.normal table tr {
	background-color:#fff;
}
.book .book-body .page-wrapper .page-inner section.normal table tr:nth-child(even) {
	background-color: #f0f3f7;
}
.book .book-body .page-wrapper .page-inner section.normal table tr:hover {
	background-color: #f5f5f5;
}
.book .book-body .page-wrapper .page-inner section.normal table tbody tr[subtotals="yes"] th { 
	font-weight: 600;
	color: #fff;
	background: #4e6694;
}
.book .book-body .page-wrapper .page-inner section.normal table tbody tr[subtotals="yes"] td { 
	font-weight: 600;
	color: #fff;
	background: #4e6694;
}
.book .book-body .page-wrapper .page-inner section.normal table tbody tr[subtotals="yes"] td[datavalue="0"]:after { 
	color: #4e6694;
}
.book .book-body .page-wrapper .page-inner section.normal table tbody tr[totals="yes"] th { 
	font-weight: 600;
	color: #fff;
	background: #314875;
}
.book .book-body .page-wrapper .page-inner section.normal table tbody tr[totals="yes"] td { 
	font-weight: 600;
	color: #fff;
	background: #314875;
}
.book .book-body .page-wrapper .page-inner section.normal table tbody tr[totals="yes"] td[datavalue="0"]:after { 
	color: #314875;
}


.datatable {
	font-style: normal;
    font-weight: 400;
	font-size: 0.75em;
	line-height: 1;
	padding: 2px 4px;
	width: 100%;
	margin: 0px auto;
	border-spacing: 0;
	text-align: left;
	overflow: auto;
}
.datatable caption {
	text-align: left;
	font-size: 1.5em;
	margin: 8px 0;
	color: #1d3a83;
	font-weight: 600;
}
.datatable thead tr th {
	font-weight: 600;
	padding: 3px 6px;
	border-bottom: 1px solid #1d3a83;
	color: #fff;
	background: #314875;
	text-align: center;
}
.datatable tbody tr th {
	font-weight: 600;
	color: #1d3a83;
	min-width: 5em;
}
.datatable tbody tr td {
	font-weight: 400;
	text-align: right;
	min-width: 8%;
}

/* http://rpbouman.blogspot.com/2015/04/css-tricks-for-conditional-formatting.html */
/* make the cells output the value of their datavalue attribute */
.datatable tbody tr td:after {
    content: attr(datavalue);
    }
    
/* hide the output if the datavalue is equal to "0" by formatting color to match background */
.datatable tbody tr td[datavalue="0"]:after {
    color: #fff;
    }
	
.datatable tbody tr:nth-child(even) td[datavalue="0"]:after {
	color: #f0f3f7;
}

.datatable tbody tr:hover td[datavalue="0"]:after {
	color: #f5f5f5;
}

.datatable tbody tr[subtotals="yes"] th { 
	font-weight: 600;
	color: #fff;
	background: #4e6694;
}

.datatable tbody tr[subtotals="yes"] td { 
	font-weight: 600;
	color: #fff;
	background: #4e6694;
}

.datatable tbody tr[subtotals="yes"] td[datavalue="0"]:after { 
	color: #4e6694;
}

.datatable tbody tr[totals="yes"] th { 
	font-weight: 600;
	color: #fff;
	background: #314875;
}

.datatable tbody tr[totals="yes"] td { 
	font-weight: 600;
	color: #fff;
	background: #314875;
}

.datatable tbody tr[totals="yes"] td[datavalue="0"]:after { 
	color: #314875;
}

.datatable tbody tr:nth-child(even) {
	background-color: #f0f3f7;
}
.datatable tbody tr:hover {
	background-color: #f5f5f5;
}

/* https://davidruvolo51.github.io/shinytutorials/tutorials/responsive-tables/#work-function-main */
.datatable .hidden-colname {
    display: inline-block;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* https://davidruvolo51.github.io/shinytutorials/tutorials/responsive-tables/#work-function-main */
@media (max-width: 600px){
    .datatable thead {
        position: absolute;
        clip: rect(1px 1px 1px 1px);
        clip: rect(1px, 1px, 1px, 1px);
        width: 1px;
        height: 1px;
        overflow: hidden;
    }
	
    .datatable tbody tr th, .datatable tbody tr td {
        display: block;
		padding: 0px 4px;
		text-align: left;
		vertical-align: top;
    }
	
    .datatable td .hidden-colname {
        display: inline-block;
        clip: auto;
        width: 150px;
        height: auto;
        line-height: 1;
		vertical-align: top;
    }
}